{% extends "main.html" %}
{%block content%}
<!---Header with picture-->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
        <img class="w3-image" src="/static/innovation.jpg"  alt='Writing Ideas'>
            <div class="w3-display-bottomleft w3-padding-large w3-opacity">
                <h1 class="w3-xxlarge Tag">Transforming online learning for teachers</h1>
            </div>
    </header>


    <!-- Page content -->
    <div class="w3-content" style="max-width:1100px">

        <!-- About Section -->
        <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="/static/teacher.jpg" class="w3-round w3-image w3-opacity-min" alt="Teacher Smiling" width="600" height="750">
            </div>
    
            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">About Ariia</h1><br>
                <h5 class="w3-center">Since 2020</h5>
                <p class="w3-large">Mass online learning over video conferencing has created myrid of problems for the teachers. Due to the nature of the class, teachers are unable to check who is doing something behind the screen. Therefore, Ariia was set up in 2020 to make things <span class="w3-tag w3-light-grey">easier</span> for teachers!</p>
            </div>
        </div>

        <hr>

        <!---Contact-->
        <div class="w3-container w3-padding-64" id="contact">
            <h1>Contact</h1><br>
            <p>We are just starting out so contact us if you support our vision!</p>
            <p class="w3-text-blue-grey w3-large"><b>moe.ariia.sg@gmail.com</b></p>
        </div>
    </div>

{%endblock content%}